/* General */
body {
    background-color: black;
    color: white;

    margin: 0;

    text-align: center;
}

/* Icons */
.icon {
    width: 20px;
    height: 20px;
    /* Move icons slightly down to better align with text. */
    transform: translateY(3px);

    margin: 0 5px;
}
.sword-icon {
    fill: #dd0000;
}
.coins-icon {
    fill: #dddd00;
}
.clock-icon {
    fill: #0088ff;
}

/* Game list */
.game-list {
    display: table;
    /* Make it so that each row has one set of borders, instead of each cell
     * having separate borders. */
    border-collapse: collapse;

    width: 100%;
    max-width: 1000px;
    margin: auto;

    text-align: center;
}

.game-list-header, .game {
    display: table-row;
}

.game-list-header {
    cursor: default;
    font-weight: bold;
}

.game {
    /* Reset styles inherited from <a> tag. */
    text-decoration: none;
    color: inherit;

    border-top: 1px solid #222222;
}

.game:hover {
    border-top: 1px solid #303030;
    background-color: #171717;
}

.game-list .cell {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.teams-cell {
    text-align: left;
}

/* Game info */
.team-logo {
    vertical-align: middle;
    margin-right: 10px;
}

.date-cell {
    background: #171717;
}

.date-cell .month {
    display: block;

    font-weight: bold;
    font-size: 24px;
    letter-spacing: -2px;
    color: #444444;
}

.date-cell .day {
    font-size: 30px;
    color: #888888;
}
