/* General */
body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(34, 34, 34);
    color: white;
}

header, footer {
    text-align: center;
}

header {
    text-transform: uppercase;
    color: #eee;
}

footer {
    color: rgb(100, 100, 100)
}
footer a {
    color: rgb(80, 80, 80)
}

main {
    margin: 0 auto;
    max-width: 850px;
}

/* Games */
.games {
    margin: 0;
    padding: 0;
    list-style: none;
}

.game {
    border-top: 1px solid rgb(40, 40, 40);
    background-color: rgb(15, 15, 15);
}
.game:hover {
    background-color: rgb(27, 27, 27);
}
a.vod {
    text-decoration: none;
    color: inherit;
}

.teams, .kills, .gold, .game-length {
    display: inline-block;
    width: 100px;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}
.teams {
    width: 400px;
}
.vs {
    font-size: 75%;
}
.game-number {
    margin-top: 1em;
    font-weight: bold;
    font-size: 85%;
    color: #aaa;
}
.kill-score, .gold-score {
    display: block;
}

/* Icons */
.icon {
    width: 15px;
    height: 15px;
}
.kill-icon {
    fill: #d00;
}
.gold-icon {
    fill: #dd0;
}
.time-icon {
    fill: #08f;
}
.team-logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
    margin: 0 5px; 
}
